# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.venv/
.env
.env.*

# Uploads
backend/uploads/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Vite
*.log

# macOS
.DS_Store

# sh
mysql.sh

# mysql
mysql_3328/

data/